KAPSO_API_KEY=tu_api_key_de_kapso_aqui
GOOGLE_SERVICE_ACCOUNT_JSON=./credentials/service_account.json
SHEET_ID=1BsZioAx9M-7z_KL7ycNSHWlOH1BO1u5mK-jAMW8VqEg
SHEET_NAME=Hoja 1
NUMERO_NUTRICIONISTA=51941104459
PHONE_NUMBER_ID=1098236290048691
KAPSO_API_URL=https://api.kapso.ai/meta/whatsapp/v22.0
TEMPLATE_NAME=seguimiento_x3
TEMPLATE_LANG=es
REQUIERE_ESTADO_ENTREGADO=false
